<app-header></app-header>
<main>
  <p-virtualScroller
    class="content"
    [value]="(((destinationsSvc.destinations$ | async) ?? []) | fav:(clientSvc.clientMe$ | async) | virtualItems | async) ?? []"
    [itemSize]="itemSize"
    [lazy]="true"
    (onLazyLoad)="loadDestinations($event)"
    [options]="{showLoader:true}"
  >
    <ng-template let-destination pTemplate="item">
      <app-destination-card
        [destination]="destination"
        [isClient]="(role === 'AUTHENTICATED')"
        class="flex-item"
      />
    </ng-template>
    <ng-template let-destination pTemplate="loadingItem">
      <div class="loading-item">
        <p-skeleton width="100%" height="50px"></p-skeleton>
      </div>
    </ng-template>
  </p-virtualScroller>
</main>
<app-footer></app-footer>
