.destinations {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-evenly;
}

::ng-deep {
  .p-virtualscroller,
  .p-virtualscroller-content {
    height: 100%;
  }

  .p-virtualscroller-list::-webkit-scrollbar {
    display: none;
  }
  
  .booking-form {
    width: 100%;
    max-width: 500px;
    height: fit-content;

    * {
      width: 100%;
    }
  }

  .p-dialog-content.booking-form-content {
    overflow: visible;
    height: fit-content;
  }

/*   .p-scroller-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }  */
}

