<app-header></app-header>
<main>
  <p-virtualScroller
    class="content virtualScroller"
    [value]="(((destinationsSvc.destinations$ | async) ?? []) | fav:(userFacade.currentSpecificUser$ | async)| virtualItems | async) ?? []"
    [itemSize]="itemSize"
    [lazy]="true"
    (onLazyLoad)="loadDestinations($event)"
    [options]="{showLoader:true}"
  >
    <ng-template let-destination pTemplate="item">
      <app-destination-card
        [destination]="destination"
        [isClient]="(role === 'AUTHENTICATED')"
        class="flex-item"
        (onFavClicked)="onFavClicked(destination, $event)"
        (onBookNowClicked)="showBookingForm(destination)"
      />
    </ng-template>
    <ng-template let-destination pTemplate="loadingItem">
      <div>
        <p-skeleton width="100%" height="50px"></p-skeleton>
      </div>
    </ng-template>
  </p-virtualScroller>
</main>


<p-dialog
  [header]="'destinationsPage.booking' | translate"
  [draggable]="false"
  [resizable]="false"
  [(visible)]="showDialog"
  [modal]="true"
  [blockScroll]="true"
  [dismissableMask]="true"
  styleClass="booking-form"
  contentStyleClass="booking-form-content"
>
  <app-booking-form (onBookingAccepted)="onBookingAccepted($event)" *ngIf="showDialog" [currentUserType]="'AUTHENTICATED'"/>
</p-dialog>
