<ion-content>
  <app-header></app-header>
  <main>
    <p-table
      [columns]="cols"
      [value]="(agentTable$ | async) ?? []"
      [lazy]="true"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{ col.header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <ng-container *ngIf="col.field === 'options'; else otherColumns">
              <p-button
                icon="pi pi-user-edit"
                styleClass="p-button-rounded p-button-primary p-button-text"
                (click)="showAgentForm(rowData, true)"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                styleClass="p-button-rounded p-button-danger p-button-text"
                (click)="showConfirmDialog(rowData)"
              ></p-button>
            </ng-container>
            <ng-template #otherColumns> {{ rowData[col.field] }} </ng-template>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height: 46px">
          <td *ngFor="let col of columns">
            <p-skeleton></p-skeleton>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <p-toast></p-toast>
    <p-dialog
      [header]="'agentsManagement.editAgentHeader' | translate"
      [draggable]="false"
      [resizable]="false"
      [(visible)]="showEditForm"
      [modal]="true"
      [blockScroll]="true"
      [dismissableMask]="true"
      styleClass="booking-form"
      contentStyleClass="booking-form-content"
    >
      <app-user-form
        [agent]="selectedAgent"
        (onRegisterAgentClicked)="addOrEditAgent($event)"
        [formType]="'REGISTER_AGENT'"
        [actionUpdate]="isUpdating"
      ></app-user-form>
    </p-dialog>
    <p-button
      [label]="'agentsManagement.addAgentBtn' | translate"
      icon="pi pi-plus"
      styleClass="p-button-rounded floating-button"
      (click)="showAgentForm()"
    />
  </main>
  <app-footer></app-footer>
</ion-content>
