<ion-content>
  <app-header></app-header>
  <main>
    <div class="content">
      <p-table
        responsiveLayout="stack"
        [breakpoint]="'960px'"
        styleClass="agents-table"
        [columns]="cols"
        [value]="(agentTable$ | async) ?? []"
        [lazy]="true"
      >
        <ng-template pTemplate="caption" let-columns>
          <tr styleClass="table-caption">
            <th colspan="6" styleClass="table-header__th">
              {{ "agentsManagement.tableHeader" | translate | uppercase }}
            </th>
            <th>
              <p-button
                [label]="'agentsManagement.addAgentBtn' | translate"
                icon="pi pi-plus"
                styleClass="p-button-rounded"
                (click)="showAgentForm()"
              />
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr styleClass="table-header">
            <th *ngFor="let col of columns" styleClass="table-header__th">
              {{ col.header | uppercase }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-agent let-columns="columns">
          <tr styleClass="body-row">
            <td *ngFor="let col of columns" styleClass="body-td">
              <ng-container *ngTemplateOutlet="field"> </ng-container>

              <ng-template #field [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'options'">
                  <span class="p-column-title"
                    >{{ col.header | uppercase }}:
                  </span>
                  <p-button
                    icon="pi pi-user-edit"
                    styleClass="p-button-rounded p-button-primary p-button-text"
                    (click)="showAgentForm(agent, true)"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-rounded p-button-danger p-button-text"
                    (click)="showConfirmDialog(agent)"
                  ></p-button>
                </ng-container>

                <ng-container *ngSwitchCase="'name'">
                  <span class="p-column-title"
                    >{{ col.header | uppercase }}:
                  </span>
                  <p-avatar
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png"
                    size="large"
                    shape="circle"
                  ></p-avatar>
                  <span class="group-name">
                    {{ agent?.name }} {{ agent?.surname }}
                  </span>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <span class="p-column-title"
                    >{{ col.header | uppercase }}:
                  </span>
                  {{ agent[col.field] }}
                </ng-container>
              </ng-template>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div styleClass="table-footer"></div>
        </ng-template>

        <ng-template pTemplate="loadingbody" let-columns="columns">
          <tr style="height: 46px">
            <td *ngFor="let col of columns">
              <p-skeleton></p-skeleton>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      <p-toast></p-toast>
      <p-dialog
        [draggable]="false"
        [resizable]="false"
        [(visible)]="showEditForm"
        [modal]="true"
        [blockScroll]="true"
        [dismissableMask]="true"
        styleClass="agent-form"
        contentStyleClass="agent-form-content"
      >
        <app-user-form
          [agent]="selectedAgent"
          (onRegisterAgentClicked)="addOrEditAgent($event)"
          [formType]="'REGISTER_AGENT'"
          [actionUpdate]="isUpdating"
        ></app-user-form>
      </p-dialog>
    </div>
  </main>
  <app-footer></app-footer>
</ion-content>
