<form [formGroup]="form" (ngSubmit)="onAccept($event)">
  <span class="p-float-label">
    <input type="hidden" formControlName="id" />
    <input formControlName="name" pInputText id="name" />
    <label htmlFor="name">
      {{ "destinationForm.destination" | translate }}
    </label>
  </span>
  <span class="p-float-label">
    <input formControlName="type" pInputText id="type" />
    <label htmlFor="type">
      {{ "destinationForm.type" | translate }}
    </label>
  </span>
  <span class="p-float-label">
    <input formControlName="keywords" pInputText id="keywords" />
    <label htmlFor="keywords">
      {{ "destinationForm.keywords" | translate }}
    </label>
  </span>
  <span class="p-float-label">
    <p-inputNumber
      styleClass="price"
      formControlName="price"
      mode="currency"
      id="price"
      currency="EUR"
      locale="es-ES"
    />
    <label htmlFor="price">
      {{ "destinationForm.price" | translate }}
    </label>
  </span>
  <span class="p-float-label">
    <input
      formControlName="description"
      rows="5"
      cols="30"
      pInputTextarea
      id="description"
    />
    <label htmlFor="description">
      {{ "destinationForm.description" | translate }}
    </label>
  </span>
  <p-button type="submit">
    {{ "destinationForm.submitBtn" | translate }}
  </p-button>
</form>
