<form [formGroup]="bookingForm" (ngSubmit)="onAccept($event)">
  <!-- TODO AÑADIR SOLO SI ES AGENT!! (?) -->
  <ng-container *ngIf="currentUserType === 'AGENT' || currentUserType === 'ADMIN'">
    <label htmlFor="client">{{ "bookingsForm.client" | translate }}:</label>
    <app-client-selectable
      id="client"
      formControlName="client"
    />

    <label htmlFor="destination">
      {{ "bookingsForm.destination" | translate }}:
    </label>
    <p-dropdown
      id="destination"
      [placeholder]="'bookingsForm.selectDestination' | translate"
      formControlName="destination"
      [options]="destinations"
      optionLabel="name"
    ></p-dropdown>
  </ng-container>

  <label htmlFor="travelers">{{ "bookingsForm.travelers" | translate }}:</label>
  <p-inputNumber
    id="travelers"
    formControlName="travelers"
    inputId="travelers"
    inputStyleClass="travelers-input"
    [showButtons]="true"
    buttonLayout="horizontal"
    spinnerMode="horizontal"
    [step]="1"
    decrementButtonClass="input-button"
    incrementButtonClass="input-button"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus"
    [min]="1"
    [max]="10"
    [allowEmpty]="false"
  ></p-inputNumber>

  <label htmlFor="dates">{{ "bookingsForm.dates" | translate }}:</label>
  <p-calendar
    id="dates"
    formControlName="dates"
    inputId="dates"
    selectionMode="range"
    [showIcon]="true"
    styleClass="calendar"
    dateFormat="dd-MM-yy"
  ></p-calendar>

  <p-button type="submit">{{ "bookingsForm.acceptBtn" | translate }}</p-button>
</form>
