<form [formGroup]="bookingForm" (ngSubmit)="onAccept($event)">
  <label htmlFor="travelers">{{ "bookingsForm.travelers" | translate }}:</label>
  <p-inputNumber
    formControlName="travelers"
    inputId="travelers"
    inputStyleClass="travelers-input"
    [showButtons]="true"
    buttonLayout="horizontal"
    spinnerMode="horizontal"
    [step]="1"
    decrementButtonClass="input-button"
    incrementButtonClass="input-button"
    incrementButtonIcon="pi pi-plus"
    decrementButtonIcon="pi pi-minus"
    [min]="1"
    [max]="10"
    [allowEmpty]="false"
  ></p-inputNumber>
  <label htmlFor="dates">{{ "bookingsForm.dates" | translate }}:</label>
  <p-calendar
    formControlName="dates"
    inputId="dates"
    selectionMode="range"
    [showIcon]="true"
    styleClass="calendar"
    dateFormat="dd-MM-yy"
  ></p-calendar>
  <p-button type="submit">{{ "bookingsForm.acceptBtn" | translate }}</p-button>
</form>
