<app-header></app-header>
<main>
  <div class="content">
    <div class="card">
      <img
        src="/assets/about/marina-nobackground.png"
        [alt]="'about.imageAlt' | translate"
      />
      <h2>{{"Marina Ruiz Artacho" | uppercase}}</h2>
      <span>{{"about.jobPosition" | translate}}</span>
      <p>{{"about.description" | translate}}</p>
      <div class="buttons">
        <p-button styleClass="p-button-rounded p-button-text">
          <a target="_blank" href="https://www.linkedin.com/in/marruiart"
            ><i class="pi pi-github" style="font-size: 32px"></i>
          </a>
        </p-button>
        <p-button styleClass="p-button-rounded p-button-text">
          <a target="_blank" href="https://github.com/marruiart">
            <i class="pi pi-linkedin" style="font-size: 32px"></i>
          </a>
        </p-button>
      </div>
    </div>
  </div>
</main>

