<form [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
  <ng-container *ngTemplateOutlet="formUpdateHeader" />
  <ng-container *ngTemplateOutlet="formRegisterHeader" />

  <!-- Header -->
  <ng-template #formRegisterHeader [ngSwitch]="formType">
    <h2 *ngSwitchCase="'LOGIN'">
      {{ "userForm.loginHeader" | translate }}
    </h2>
    <h2 *ngSwitchCase="'REGISTER'">
      {{ "userForm.registerHeader" | translate }}
    </h2>
    <h2 *ngSwitchCase="'REGISTER_AGENT'">
      {{ "userForm.agentRegisterHeader" | translate }}
    </h2>
    <h2 *ngSwitchCase="'UPDATE_AGENT'">
      {{ "userForm.agentUpdateHeader" | translate }}
    </h2>
  </ng-template>

  <ng-template #formUpdateHeader [ngSwitch]="formType">
    <ng-container *ngIf="actionUpdate">
      <h2 *ngSwitchCase="'LOGIN'">//TODO CAMBIAR PRUEBA LOGIN</h2>
      <h2 *ngSwitchCase="'REGISTER'">//TODO CAMBIAR PRUEBA REGISTRO</h2>
    </ng-container>
  </ng-template>

  <!-- Username -->
  <div
    class="p-inputgroup"
    *ngIf="
      formType == 'LOGIN' || formType == 'PROFILE' || formType == 'UPDATE_AGENT'
    "
  >
    <span class="p-inputgroup-addon">
      <i class="pi pi-user"></i>
    </span>
    <span class="p-float-label">
      <input pInputText id="username" formControlName="username" />
      <label htmlFor="username">{{ "userForm.username" | translate }}</label>
    </span>
  </div>
  <!-- Email -->
  <div class="p-inputgroup" *ngIf="formType != 'LOGIN'">
    <span class="p-inputgroup-addon">
      <i class="pi pi-at"></i>
    </span>
    <span class="p-float-label">
      <input pInputText id="email" formControlName="email" />
      <label htmlFor="email">{{ "userForm.email" | translate }}</label>
    </span>
  </div>
  <!-- Password -->
  <div class="password" *ngIf="!actionUpdate || formType == 'PROFILE'">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-key"></i>
      </span>
    </div>
    <span class="p-float-label">
      <p-password
        [feedback]="false"
        id="password"
        [toggleMask]="true"
        formControlName="password"
      ></p-password>
      <label for="password">{{ "userForm.password" | translate }}</label>
    </span>
  </div>
  <!-- Repeat password -->
  <div
    class="password"
    *ngIf="
      ((formType == 'REGISTER' || formType == 'REGISTER_AGENT') &&
        !actionUpdate) ||
      formType == 'PROFILE'
    "
  >
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-key"></i>
      </span>
    </div>
    <span class="p-float-label">
      <p-password
        [feedback]="false"
        id="password-repeat"
        [toggleMask]="true"
        formControlName="passwordRepeat"
      ></p-password>
      <label for="password-repeat">
        {{ "userForm.repeatPassword" | translate }}
      </label>
    </span>
  </div>
  <!-- Name -->
  <div
    class="p-inputgroup"
    *ngIf="
      formType == 'REGISTER_AGENT' ||
      formType == 'PROFILE' ||
      formType == 'UPDATE_AGENT'
    "
  >
    <span class="p-inputgroup-addon">
      <i class="pi pi-id-card"></i>
    </span>
    <span class="p-float-label">
      <input pInputText id="name" formControlName="name" />
      <label htmlFor="name">
        {{ "userForm.name" | translate }}
      </label>
    </span>
  </div>
  <!-- Surname -->
  <div
    class="p-inputgroup"
    *ngIf="
      formType == 'REGISTER_AGENT' ||
      formType == 'PROFILE' ||
      formType == 'UPDATE_AGENT'
    "
  >
    <span class="p-inputgroup-addon">
      <i class="pi pi-id-card"></i>
    </span>
    <span class="p-float-label">
      <input pInputText id="surname" formControlName="surname" />
      <label htmlFor="surname">
        {{ "userForm.surname" | translate }}
      </label>
    </span>
  </div>
  <!-- Nickname -->
  <div
    class="p-inputgroup"
    *ngIf="
      formType == 'REGISTER_AGENT' ||
      formType == 'PROFILE' ||
      formType == 'UPDATE_AGENT'
    "
  >
    <span class="p-inputgroup-addon">
      <i class="pi pi-star"></i>
    </span>
    <span class="p-float-label">
      <input pInputText id="nickname" formControlName="nickname" />
      <label htmlFor="nickname">
        {{ "userForm.nickname" | translate }}
      </label>
    </span>
  </div>

  <p-button
    *ngIf="formType == 'LOGIN'"
    [label]="'userForm.getAccount' | translate"
    styleClass="p-button-link"
    (click)="onNavigateToRegister()"
  ></p-button>

  <ng-container *ngTemplateOutlet="submitBtn"></ng-container>
  <ng-template #submitBtn [ngSwitch]="formType">
    <p-button
      *ngSwitchCase="'LOGIN'"
      type="submit"
      [label]="'userForm.submitBtn' | translate"
      [disabled]="!userForm.valid"
    />
    <p-button
      *ngSwitchCase="'REGISTER'"
      type="submit"
      [label]="'userForm.registerBtn' | translate"
      [disabled]="!userForm.valid"
    />
    <p-button
      *ngSwitchCase="'REGISTER_AGENT'"
      type="submit"
      [label]="'userForm.registerAgentBtn' | translate"
      [disabled]="!userForm.valid"
    />
    <p-button
      *ngSwitchCase="'PROFILE'"
      type="submit"
      [label]="'userForm.profileBtn' | translate"
      [disabled]="!userForm.valid"
    />
    <p-button
      *ngSwitchCase="'UPDATE_AGENT'"
      type="submit"
      [label]="'userForm.updateAgentBtn' | translate"
      [disabled]="!userForm.valid"
    />
  </ng-template>
</form>
