form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 2rem;
  border-radius: 10px;

}


.password {
  display: flex;
}

::ng-deep {
  .p-inputtext {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .p-inputgroup-addon:last-child {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
