@import "src/styles/custom-icons.scss";

[styleclass*="translation-btn"] {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
}

::ng-deep {
  angledownicon {
    display: none;
  }

  .login-btn {
    .person-outline {
      margin: 0;
    }
  }
}
