::ng-deep {
    angledownicon {
      display: none;
    }
  
    .login-btn {
      .person-outline {
        margin: 0;
      }
    }
  
    .custom-icon {
      width: 20px;
      height: 20px;
      background-color: var(--primary-color);
    }
  
    .paper-plane-outline {
      -webkit-mask-image: url("../../node_modules/ionicons/dist/svg/paper-plane-outline.svg");
      mask-image: url("../../node_modules/ionicons/dist/svg/paper-plane-outline.svg");
    }
  
    .home-outline {
      -webkit-mask-image: url("../../node_modules/ionicons/dist/svg/home-outline.svg");
      mask-image: url("../../node_modules/ionicons/dist/svg/home-outline.svg");
    }
  
    .person-outline {
      -webkit-mask-image: url("../../node_modules/ionicons/dist/svg/person-outline.svg");
      mask-image: url("../../node_modules/ionicons/dist/svg/person-outline.svg");
    }
  
    .log-in-outline {
      -webkit-mask-image: url("../../node_modules/ionicons/dist/svg/log-in-outline.svg");
      mask-image: url("../../node_modules/ionicons/dist/svg/log-in-outline.svg");
    }
  }
  