<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <h2>Registro</h2>
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon">
      <i class="pi pi-user"></i>
    </span>
    <span class="p-float-label">
      <input pInputText id="email" formControlName="email" />
      <label htmlFor="email">Email</label>
    </span>
  </div>

  <div class="password">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-key"></i>
      </span>
    </div>
    <span class="p-float-label">
      <p-password
        [feedback]="false"
        id="password"
        [toggleMask]="true"
        formControlName="password"
      ></p-password>
      <label for="password">Contraseña</label>
    </span>
  </div>

  <div class="password">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-key"></i>
      </span>
    </div>
    <span class="p-float-label">
      <p-password
        [feedback]="false"
        id="password-repeat"
        [toggleMask]="true"
        formControlName="passwordRepeat"
      ></p-password>
      <label for="password-repeat">Repetir contraseña</label>
    </span>
  </div>
  <p-button label="Registrarme" (click)="onRegister()"></p-button>
</form>
