<ion-content>
  <app-header></app-header>
  <main>
    <div class="content">
      <p-table
        responsiveLayout="stack"
        [breakpoint]="'960px'"
        styleClass="destinations-table"
        [columns]="cols"
        [value]="(destinationTable$ | async) ?? []"
        [lazy]="true"
      >
        <ng-template pTemplate="caption" let-columns>
          <div styleClass="table-caption">
            <div styleClass="table-caption__th">
              {{ "destManagement.tableHeader" | translate | uppercase }}
            </div>
            <div styleClass="table-caption__th">
              <p-button
                [label]="'destManagement.addDestinationBtn' | translate"
                icon="pi pi-plus"
                styleClass="p-button-rounded"
                (click)="showDestinationForm()"
              />
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr styleClass="table-header">
            <th *ngFor="let col of columns" styleClass="table-header__th">
              {{ col.header | uppercase }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr styleClass="body-row">
            <td *ngFor="let col of columns" styleClass="body-td">
              <ng-container *ngTemplateOutlet="field"> </ng-container>

              <ng-template #field [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'price'">
                  <span class="p-column-title"
                    >{{ col.header | uppercase }}:
                  </span>
                  {{ rowData[col.field] }}
                  <ng-container *ngIf="rowData[col.field]">€</ng-container>
                </ng-container>
                <ng-container *ngSwitchCase="'options'">
                  <span class="p-column-title"
                    >{{ col.header | uppercase }}:
                  </span>
                  <p-button
                    icon="pi pi-pencil"
                    styleClass="p-button-rounded p-button-primary p-button-text"
                    (click)="showDestinationForm(rowData)"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    styleClass="p-button-rounded p-button-danger p-button-text"
                    (click)="showConfirmDialog(rowData.id)"
                  ></p-button>
                </ng-container>

                <ng-container *ngSwitchDefault>
                  <span class="p-column-title"
                    >{{ col.header | uppercase }}:
                  </span>
                  {{ rowData[col.field] }}
                </ng-container>
              </ng-template>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="summary">
          <div styleClass="table-footer"></div>
        </ng-template>

        <ng-template pTemplate="loadingbody" let-columns="columns">
          <tr style="height: 46px">
            <td *ngFor="let col of columns">
              <p-skeleton></p-skeleton>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      <p-toast></p-toast>
      <p-dialog
        [header]="'destManagement.editDestinationHeader' | translate"
        [draggable]="false"
        [resizable]="false"
        [(visible)]="showEditForm"
        [modal]="true"
        [blockScroll]="true"
        [dismissableMask]="true"
        styleClass="booking-form"
        contentStyleClass="booking-form-content"
      >
        <app-destination-form
          *ngIf="showEditForm"
          [destination]="selectedDestination"
          (onDestinationFormAccepted)="addOrEditDestination($event)"
        />
      </p-dialog>
    </div>
  </main>
  <app-footer></app-footer>
</ion-content>
