.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 600px;

  p,
  h1 {
    color: var(--text-color);
  }

  h1 {
    font-weight: bold;
  }

  div {
    height: 100%;
    overflow: hidden;

    &.hero-image {
      flex-basis: 550px;
    }

    &.hero-message {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 550px;
      row-gap: 1rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

form {
  background-color: var(--surface-ground);
}
