<form [formGroup]="form" (ngSubmit)="onAccept($event)">
  <input type="hidden" formControlName="id" />
  <span class="p-float-label">
    <input formControlName="email" pInputText id="email" />
    <label htmlFor="email">Email</label>
  </span>
  <span class="p-float-label">
    <p-password
      [feedback]="false"
      id="password"
      [toggleMask]="true"
      formControlName="password"
    ></p-password>
    <label for="password">Contraseña</label>
  </span>

  <span class="p-float-label">
    <p-password
      [feedback]="false"
      id="password-repeat"
      [toggleMask]="true"
      formControlName="passwordRepeat"
    ></p-password>
    <label for="password-repeat">Repetir contraseña</label>
  </span>
  <span class="p-float-label">
    <input formControlName="name" pInputText id="name" />
    <label htmlFor="name">Nombre</label>
  </span>
  <span class="p-float-label">
    <input formControlName="surname" pInputText id="surname" />
    <label htmlFor="surname">Apellido/s</label>
  </span>
  <span class="p-float-label">
    <input formControlName="nickname" pInputText id="nickname" />
    <label htmlFor="nickname">Nickname</label>
  </span>
  <p-button type="submit">Aceptar</p-button>
</form>
