img {
  aspect-ratio: 1/1;
}

::ng-deep {
  .p-card-header {
    position: relative;
  }

  .fav-btn {
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 10px;

    ion-icon {
      width: 30px;
      height: 30px;
    }
  }

  .p-card-content {
    display: none;
  }
}
