<ion-content>
  <app-header></app-header>
  <main>
    <p-table
      [columns]="cols"
      [value]="(bookingTable$ | async) ?? []"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">{{ col.header }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <!-- If is isConfirmed column, display a tag content -->
            <ng-container
              *ngIf="col.field === 'isConfirmed'; else otherColumns"
            >
              <p-tag
                *ngIf="rowData[col.field]"
                [value]="'bookingsPage.confirmedTag' | translate | uppercase"
                severity="success"
                [rounded]="true"
                icon="pi pi-check"
              ></p-tag>
              <p-tag
                *ngIf="!rowData[col.field] && currentUser?.type == 'AUTHENTICATED'"
                [value]="'bookingsPage.unconfirmedTag' | translate | uppercase"
                severity="danger"
                [rounded]="true"
              ></p-tag>
              <p-button
                *ngIf="!rowData[col.field] && currentUser?.type == 'AGENT'"
                [label]="'bookingsPage.confirmBtn' | translate | uppercase"
                icon="pi pi-thumbs-up" 
                styleClass="p-button-secondary p-button-rounded light-tag"
                (click)="confirmBook(rowData.booking_id)"
              ></p-button>
            </ng-container>
            <!-- Otherwise, display the content of the field -->
            <ng-template #otherColumns> {{ rowData[col.field] }} </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </main>
  <app-footer></app-footer>
</ion-content>
