::ng-deep {
  .bookings-table {
    min-width: 100%;
    border-radius: 30px;
    border: 1px solid #dee2e6;
    overflow: hidden;

    [styleClass="table-caption"] {
      > [styleClass*="table-caption__th"] {
        padding: 30px;
        color: var(--primary-700);
        font-size: 1.3rem;
      }
    }

    [styleClass="group-row"] {
      td {
        background-color: var(--surface-ground);

        > * {
          margin-inline: 7px;
          vertical-align: middle;
        }

        > span.group-name {
          font-weight: bold;
        }
      }
    }

    [styleClass="expansion-header expansion-row"] {
      padding: 30px 0;
    }

    [styleClass*="expansion-row"] [styleClass="expansion-td"] {
      padding: 10px 1rem;
      text-align: center;
      justify-content: left !important;
      column-gap: 16px !important;

      span.p-column-title {
        font-weight: bold;
      }

      > * {
        vertical-align: middle;
      }

      .dates-align {
        margin: auto;
        width: fit-content;

        &.responsive {
          margin: 0;
        }

        * {
          text-align: left;
        }

        span.date {
          font-weight: bold;
        }
      }
    }

    [styleClass="table-footer"] {
      height: 50px;
    }
  }
}
